{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<main class="container mt-3">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Your transaction' %}</li>
        </ol>
    </nav>

    <div class="row align-items-end">
        <div class="mb-3 col-md-4 col-sm-12" role="group" aria-label="Basic outlined example">
            <div class="btn-group">
                <a href="{% url 'create' %}" class="btn btn-outline-primary">{% trans 'Add expenses' %}</a>
                <a href="{% url 'create_transfer_transaction' %}" class="btn btn-outline-primary">{% trans 'transfer' %}</a>
                <a href="{% url 'create_income_transaction' %}" class="btn btn-outline-primary">{% trans 'Add income' %}</a>
            </div>
        </div>
        <form class="col-md-3 col-sm-12 ms-auto" method="get">
            {{ filter_form.as_p }}
        </form>
    </div>

    {% if latest_transaction_list %}
    <div class="progress-stacked">
        <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15" aria-valuemin="0"
             aria-valuemax="100" style="width: {{balance.expense_percent}}%">
            <div class="progress-bar bg-danger">{{balance.expense}}</div>
        </div>
        <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0"
             aria-valuemax="100" style="width: {{balance.balance_percent}}%">
            <div class="progress-bar bg-info">{{balance.balance}}</div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans 'type' %}</th>
                <th scope="col">{% trans 'category' %}</th>
                <th scope="col">{% trans 'expense_account' %}</th>
                <th scope="col">{% trans 'expense_amount' %}</th>
                <th scope="col">{% trans 'income_account' %}</th>
                <th scope="col">{% trans 'income_amount' %}</th>
                <th scope="col">{% trans 'comment' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in latest_transaction_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.expense_account }}</td>
                <td>{{ transaction.expense_amount }}</td>
                <td>{{ transaction.income_account }}</td>
                <td>{{ transaction.income_amount }}</td>
                <td>{{ transaction.comment }}</td>
            </tr>
            {% endfor %}
            {% if transaction_sum %}
            <tr>
                <th scope="row">{% trans 'Sum' %}</th>
                <td colspan="3"></td>
                <td>{{ transaction_sum.total_expenses }}</td>
                <td></td>
                <td>{{ transaction_sum.total_income }}</td>
                <td></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>{% trans 'No polls are available.' %}</p>
    {% endif %}

</main>
{% endblock %}