{% extends 'base.html' %}

{% block content %}
<main class="container mt-3">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Your transaction</li>
        </ol>
    </nav>

<!--    <div>-->
<!--        <form method="get">-->
<!--            {{ filter_form.as_p }}-->
<!--        </form>-->
<!--    </div>-->

    <div class="row">

        <div class="btn-group mb-3 col-md-4 col-sm-12" role="group" aria-label="Basic outlined example">
            <a href="{% url 'create' %}" class="btn btn-outline-primary">Add expenses</a>
            <a href="{% url 'create_transfer_transaction' %}" class="btn btn-outline-primary">transfer</a>
            <a href="{% url 'create_income_transaction' %}" class="btn btn-outline-primary">Add income</a>
        </div>
        <form class="col-md-3 col-sm-12 ms-auto" method="get">
            {{ filter_form.as_p }}
        </form>
    </div>

    {% if latest_transaction_list %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">type</th>
                        <th scope="col">category</th>
                        <th scope="col">expense_account</th>
                        <th scope="col">expense_amount</th>
                        <th scope="col">income_account</th>
                        <th scope="col">income_amount</th>
                        <th scope="col">comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in latest_transaction_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.category }}</td>
                        <td>{{ transaction.expense_account }}</td>
                        <td>{{ transaction.expense_amount }}</td>
                        <td>{{ transaction.income_account }}</td>
                        <td>{{ transaction.income_amount }}</td>
                        <td>{{ transaction.comment }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

</main>
{% endblock %}