{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<main class="container mt-3">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Budget' %}</li>
        </ol>
    </nav>

    <div class="row">
        <form class="col-md-3 col-sm-12 ms-auto" method="get">
            {{ filter_form.as_p }}
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <a href="{% url 'create_budget_category' %}" class="text-success-emphasis">
                    <i class="bi bi-plus-circle"></i>
                </a>
            </th>
            <th scope="col">{% trans 'Category' %}</th>
            <th scope="col">{% trans 'Allocated amount' %}</th>
            <th scope="col">{% trans 'Total expenses' %}</th>
            <th scope="col">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% if categories %}
        {% for category in categories %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{category.category__name}}</td>
            <td>{{category.allocated_amount}}</td>
            <td>{{category.total_expenses}}</td>
            <td>
                <a href="{% url 'edit_budget_category' category.id %}"><i class="bi bi-pencil text-primary-emphasis"></i></a>
                <a href="{% url 'delete_budget_category' category.id %}"><i class="bi bi-trash text-danger-emphasis"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</main>
{% endblock %}
