{% extends 'base.html' %}

{% block content %}
<main class="container mt-3">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Budget</li>
        </ol>
    </nav>

    <div class="row">
        <form class="col-md-3 col-sm-12 ms-auto" method="get">
            <select name="selected_month" class="form-select" aria-label="Default select example" onchange="this.form.submit()">
                {% for name in month_name %}
                <option value="{{ forloop.counter }}" {% if forloop.counter == selected_month %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    {% if categories %}
        {% for category in categories %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    {{ category.category__name }}
                </h5>
                <p class="card-text">{{category.allocated_amount}}</p>
                <p class="card-text">{{category.total_expenses}}</p>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ category.spent }}" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: {{ category.spent }}%">{{ category.spent }}%</div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-light" role="alert">
          No categories found.
        </div>
    {% endif %}
</main>
{% endblock %}
