{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<main class="container mt-3">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project_list' %}">{% trans 'Projects' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
        </ol>
    </nav>

    <form method="post">
        <legend>{{ project_form.title }}</legend>
        {% csrf_token %}
        {{ project_form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
    </form>

    {% if project_users %}
    <ul class="list-group">
        {% for project_user in project_users %}
        <li class="list-group-item">{{project_user.user.username}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{% trans 'There is not one user associated with this project' %}</p>
    {% endif %}
</main>
{% endblock %}